<section class="text-gray-700">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <h1 class="title-font font-medium text-3xl">ZzzCrafterへようこそ！</h1> 
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        ZzzCrafterの説明
      </div>
  </div>
</section>
