<div class="container px-5 py-24 mx-auto flex flex-wrap items-center text-black dark:text-white">
ZzzCrafterへようこそ！

<button class="btn btn-info">Info</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-error">Error</button>

<div>
<button class="btn btn-lg">Large</button>
<button class="btn">Normal</button>
<button class="btn btn-sm">Small</button>
<button class="btn btn-xs">Tiny</button>
</div>

<div>
<button class="btn btn-wide">Wide</button>
</div>
</div>
