<section class="text-gray-700">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <!-- タイトル -->
    <div class="w-full mb-10">
      <h1 class="title-font font-medium text-3xl">ZzzCrafter 自分に合う寝る前の習慣を見つけよう</h1>
    </div>

    <!-- イントロダクション -->
    <div class="w-full">
      <div class="text-xl mb-10">
      <p>スマホやゲームなど、現代の娯楽は多様にあり、思うように寝ることができない悩みはありませんか？</p>
      <p>ZzzCrafterは、そんなあなたに睡眠に役立つ様々な習慣を紹介し、グッスリ寝られるように睡眠の質の改善をサポートするアプリです。</p>
      </div>
    </div>

    <!-- アプリの使い方 -->
    <div class="w-full mb-10">
      <h2 class="text-2xl mb-4">アプリの使い方</h2>
      <p class="text-2xl">①まずは、下の友だち追加ボタンから友達登録をお願いします。</p>
      <p class="text-2xl mb-5">デスクトップブラウザをご利用の場合は、右上のログインボタンからでもご利用可能です！</p>

      <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="@112nzsun" style="display: none;"></div>
      <%= javascript_include_tag 'https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js', 'data-turbolinks-track': 'reload', async: true, defer: true %>

      <h3 class="text-2xl mt-10 mb-2">②ルーティーン追加</h3>
      <p class="text-xl">次に、ルーティーンを追加しましょう。</p>
      <p class="text-xl mb-5">ルーティーン一覧から気になるルーティーンをクリックすると、詳細が確認できます。</p>
      <p class="text-xl">例：</p>
      <%= image_tag 'routine_sample.png', class: "mb-5" %>
      
      <div class="flex justify-between items-center">
      <p class="text-xl flex-1">[LINEへの追加はこちら]をクリックすると、実践する目安の時間が案内されます。</p>
      <%= image_tag 'line_push.jpg', style: 'width: 312px; height: 564px;', class: "mb-5 flex-shrink-0" %>
    </div>
    
    <div class="flex justify-between items-center flex-row-reverse">
    <div>
      <h3 class="text-2xl mb-2">③翌朝にLINE通知が来るので、今の調子を記録</h3>
      <p class="text-2xl">※現在、通知機能は鋭意実装中です...!</p>
    </div>
    <%= image_tag 'line_morning.jpg', style: 'width: 312px; height: 564px;', class: "mb-10 flex-shrink-0" %>
  </div>
      
      <h3 class="text-xl mb-2 text-center">グッスリと睡眠ができるように、自分に合った習慣を見つけましょう！</h3>
    </div>
  </div>
</section>
