<div class="container mx-auto text-black">
<div class="card border border-black my-30">
  <div class="card-body text-center">
    <h2 class="card-title text-2xl font-semibold mx-auto">
      <%= @routine.name %>
    </h2>
    <p class="text-lg mt-5">
      <%= @routine.description.html_safe %>
    </p>
  </div>
</div>


  <div class="flex justify-center mb-20"> 
    <button class="btn btn-success text-2xl" onclick="modal.showModal()">
    LINEへの追加はこちら
    </button>
  </div>
  <dialog id="modal" class="modal">
    <div class="modal-box w-11/12 max-w-3xl h-[500px] flex flex-col">
      <div class="text-center flex-grow">
      <h3 class="font-bold text-lg">LINEで追加する</h3>
      <p class="py-10 text-center">お手持ちのスマートフォンで読み取ってください</p>
      </div>
      <div id="qrCode" data-line-text="<%= @routine.line_text %>" class="flex justify-center"></div>
      <div class="modal-action self-end justify-self-end">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
