<div class="container mx-auto p-10">
  <div class="grid grid-cols-2 gap-4 card bordered">
    <div class="card-body">
      <h2 class="card-title text-2xl font-semibold">
        <%= @routine.name %>
      </h2>
    </div>
    <div class="card-body">
      <p class="text-lg">
        <%= @routine.description %>
      </p>
    </div>
  </div>

  <script type="text/javascript">
    const line_user_id = "<%= @user.line_user_id if @user %>";
  </script>

<script type="module">
  import "send_line_message";
</script>

  <div class="mt-10">
    <button class="btn btn-success" onclick="sendMessage()">
      LINEへの追加はこちら
    </button>
  </div>
</div>
