<div class="container mx-auto p-10">
  <!-- 上半分: カードブロック -->
  <div class="grid grid-cols-2 gap-4 card bordered">
    <!-- 左側: ルーティーン名 -->
    <div class="card-body">
      <h2 class="card-title text-2xl font-semibold">
        <%= @routine.name %>
      </h2>
    </div>
    <!-- 右側: ルーティーンの詳細説明 -->
    <div class="card-body">
      <p class="text-lg">
        <%= @routine.description %>
      </p>
    </div>
  </div>

  <!-- 下半分: LINEへの追加ボタン -->
  <div class="mt-10">
    <button class="btn btn-success">
      LINEへの追加はこちら
    </button>
  </div>
</div>
