<div class="flex justify-center items-center h-screen">
  <div class="flex items-center space-x-4">
    <div class="loading loading-spinner"></div>
    <p class="text-center text-3xl text-gray-700 my-20">読み込んでいます...</p>
  </div>
</div>
