<section class="text-gray-700" data-controller="turbo-frame">
  <h1 class="text-4xl my-10 text-center">睡眠の悩みを選択してください</h1>

  <div class="my-20 flex justify-center">
    <%= select_tag :issue_type, options_for_select([['選択してください', '']].concat(@issue_types.map { |t| [t, t] }), @selected_issue_type), id: 'issue_type_selector', class: "text-white text-center text-2xl py-3", data: { action: "change->turbo-frame#reload", target: "turbo-frame.selector" } %>
  </div>

  <turbo-frame id="issue_content" data-target="turbo-frame.frame">
  <% @routines.each do |routine| %>
    <p><%= routine.name %></p>  <!-- nameはRoutineモデルの属性に合わせてください -->
  <% end %>
  
    <!-- routine一覧がここに表示される -->
  </turbo-frame>
</section>
