<section class="text-gray-700">
  <h1 class="text-4xl my-10 text-center">睡眠の悩みを選択してください</h1>

  <div class="my-20 flex justify-center text-2xl">
  <%= form_with url: recommend_routines_users_path, method: :post do |f| %>
    <%# ユーザーがsleep_issueを持っている場合はその値を、持っていない場合はnilを設定 %>
    <% selected_value = @current_issue_type || nil %>
  
    <%= f.select :issue_type, 
                options_for_select(SleepIssue.issue_types.keys.map { |key| [I18n.t("enums.sleep_issue.issue_type.#{key}"), key] }, selected_value), 
                { prompt: selected_value.nil? ? '選択してください' : nil }, 
                class: "bg-black text-white text-center text-2xl py-3" %>
    <%= f.submit "登録", class: "btn btn-primary ml-10 text-2xl" %>
  <% end %>
  
  </div>

  <%= render 'recommend_routines' %>
</section>
