<section class="text-gray-600 bg-white-200 body-font">
  <h1 class='py-5 mt-15 text-4xl text-center'>ユーザーページ</h1>
  <div class="container px-5 py-5 flex flex-col items-center text-2xl">

  <div class="ml-20 my-20 flex w-full">
  <div class="ml-10 grid h-20 card bg-orange-300 rounded-box place-items-center flex-grow">
    <p class="text-2xl">ルーティーンを実施した回数: <%= @total_routine_count %>回</p>
  </div>
  <div class="mx-5 divider divider-horizonal"></div>
  <div class="grid h-20 card bg-orange-300 rounded-box place-items-center flex-grow">
    <p class="text-2xl">ルーティーンを実施した日数: <%= @total_date_count %>日</p>
  </div>
  </div>

    <div class="flex w-full py-20 ml-10 mx-auto">
      <%= link_to "あなたにおすすめのルーティーンを見る", recommend_routines_users_path, class: 'btn ml-20 text-2xl flex-grow' %>
      <%= link_to "登録したルーティーンと翌朝の調子を見る", profile_routine_records_path, class: 'btn ml-20 text-2xl flex-grow' %>
    </div>

  </div>
</section>
