<div class="navbar bg-blue-700 py-4">
  <%= link_to 'ZzzCrafter', root_path, class: 'btn btn-ghost normal-case text-3xl text-green-500' %>
  <div class="flex-grow"></div>
  <%= link_to 'ルーティーン一覧', routines_path, class: 'btn btn-ghost btn-outline btn-secondary text-xl mr-4' %>
  <%= link_to 'ログイン', new_user_path, data: { turbo: "false" }, class: 'btn btn-ghost btn btn-outline text-xl' %>
</div>
