<footer class="bg-white">
  <div class="container px-10 py-5 mx-auto flex flex-col items-center text-black">
    <div class="flex flex-col md:flex-row justify-center w-full text-center">
      <span class="inline-flex flex-col md:flex-row justify-center w-full md:w-auto">
        <%= link_to "利用規約", '#', class: 'my-2 md:my-2 sm:my-5 text-center' %>
        <%= link_to "プライバシーポリシー", '#', class: 'my-2 md:mx-8 text-center' %>
        <%= link_to "お問い合わせ", "https://forms.gle/g8w9bZhhNxfT9WzU9", class: 'my-2 md:mr-4 text-center' %>
      </span>
    </div>
    <p class="text-sm mt-5">© 2023 ZzzCrafter </p>
  </div>
</footer>
