<footer class="bg-blue-600">
  <div class="container px-10 py-8 mx-auto flex flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center md:justify-start justify-center mb-4 md:mb-0">
      <span class="ml-3 font-bold text-xl">ZzzCrafter</span>
    </a>
    <p class="text-sm md:ml-4 md:pl-4 md:border-gray-200 md:py-2 md:mt-0 mt-4 md:mr-10">© 2023 ZzzCrafter </p>
    <span class="inline-flex md:justify-center flex-col md:flex-row justify-center w-full md:w-auto">
      <%= link_to "お問い合わせ", '#', class: 'btn btn-outline btn-info text-xl my-2 md:my-0 md:mr-4' %>
      <%= link_to "プライバシーポリシー", '#', class: 'btn btn-outline btn-info text-xl my-2 md:my-0 md:mx-4' %>
      <%= link_to "利用規約", '#', class: 'btn btn-outline btn-info text-xl my-2 md:my-0 md:ml-4' %>
    </span>
  </div>
</footer>
